<div class="row">
  <div class="col-xs-12">
    <%= form_for(@staff, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :name %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :name, class:"form-control", placeholder: "Enter name", autofocus: true %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :email %>
        </div>
        <div class="col-sm-8">
          <%= f.email_field :email, class:"form-control", placeholder: "Enter email" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :password %>
        </div>
        <div class="col-sm-8">
          <%= f.password_field :password, class:"form-control" %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :password_confirmation %>
        </div>
        <div class="col-sm-8">
          <%= f.password_field :password_confirmation, class:"form-control" %>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :picture, :class => 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png' %>
        </div>
        <%=f.error_span(:picture) %>
      </div>
      
      <% unless current_staff.id == @staff.id %>
  
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :admin %>
        </div>
        <div class="col-sm-8">
          <%= f.check_box (:admin) %>
        </div>
      </div>
      
      <% end %>
      
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :teams %>
        </div>
        <div class="col-sm-8">
          <%= f.collection_select :team_id, Team.all, :id, :name, { :include_blank => 'Unassigned' }, { :class => 'form-options' } %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit(@staff.new_record? ?  "Add Staff" : "Save Changes", class: "btn btn-default btn-large") %>
        </div>
      </div>
    <% end %>
    
    <div class="col-sm-offset-2 col-sm-10 ">
      <%= link_to "Back", request.referer.present? ? request.referer : root_path, class:"btn btn-default btn-large" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#image_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/600/600;
    if (size_in_megabytes > 5) {
      alert("Maximum file size is 5mb");
    }
  });
</script>