<div class="model-div">
  <div class="model-div-title">
    <h1>Staff Listing</h1>
    <%= form_tag staff_search_path, method: :get do %>
    <div class="form-group">
      <div class="search-box search-box-staff">
        <%= text_field_tag :search_param, params[:search_param], 
                          placeholder: "Enter in a name or email", autofocus: true, 
                          class: "form-control input-md" %>
      </div>
      <%= button_tag(type: :submit, class: "btn btn-md btn-default search-button") do %>
        Search for Staff
      <% end %>
    </div>
    <% end %>
    <%= button_to "Add Staff", new_staff_path, method: :get, class:"btn btn-default btn-large model-actions-add" %>
  </div>
  <%= render 'staffs/list' %>
</div>

