<div class="model-div">
  <div class="model-div-title">
    <h1>Team Listing</h1>
    <%= form_tag team_search_path, method: :get do %>
    <div class="form-group">
      <div class="search-box search-box-team">
        <%= text_field_tag :search_param, params[:search_param], 
                          placeholder: "Enter in the name of the team", autofocus: true, 
                          class: "form-control input-md" %>
      </div>
      <%= button_tag(type: :submit, class: "btn btn-md btn-default search-button") do %>
        Search for team
      <% end %>
    </div>
    <% end %>
    <%= button_to "Add Team", new_team_path, method: :get, class:"btn btn-default btn-large model-actions-add" %>
  </div>
  <%= render 'teams/list' %>
</div>