<div class="model-div">
  <div class="model-div-title">
    <h1><%= @team.name %></h1>
  </div>
  <div class="row model-div-content">
    <div class="col-md-4 model-div-img">
      <% if @team.picture.blank? %>
        <%= image_tag("group-profile-default.png", size: "300x300") %>
      <% else %>
        <%= image_tag(@team.picture.url, size: "300x300") %>
      <% end %>
    </div>
    <div class="col-md-8 model-div-text">
      <h3><%= @team.name %></h3>
        <ul>
          <% if !@team.staffs.empty? %>
            <li>This team has <%= pluralize(@team.staffs.count, 'member') %></li>
            <ul>
              <% @team.staffs.each do |staff| %>
                <li>
                	<%= link_to_if(current_staff.admin?, staff.name, staff_path(staff)) %> (<%= pluralize(staff.subtasks.count, 'task') %>)
                </li>
                <ul>
                  <% if staff.subtasks.empty? %>
                    <li>
                      This staff currently does not have any tasks
                    </li>
                  <% else %>
                    <% staff.subtasks.each do |subtask| %>
                      <li>
                        <%= link_to_if(current_staff.admin?, subtask.name, subtask_path(subtask)) %> (<%= link_to_if(current_staff.admin?, subtask.task.name, task_path(subtask.task)) %>)
                      </li>
                    <% end %>
                  <% end %>
                </ul>
      	      <% end %>
            </ul>
          <% else %>
          	<li>
              This team currently does not have any staff
          	</li>
          <% end %>
          <% if !@team.tasks.empty? %>
            <li>This team has <%= pluralize(@team.tasks.count, 'task') %></li>
            <ul>
              <% @team.tasks.each do |task| %>
                <li>
                	<%= link_to_if(current_staff.admin?, task.name, task_path(task)) %>
                </li>
                <ul>
                  <li>
                    Category: <%= task.category %>
                  </li>
                  <li>
                    Charge: RM<%= task.charge %>
                  </li>
                  <% if task.paid %>
                    <li>
                      Payment Received
                    </li>
                  <% else %>
                    <li>
                      Payment Pending
                    </li>
                  <% end %>
                  <li>
                    Deadline: <%= task.deadline %>
                  </li>
                  <% if task.comments && !task.comments.blank? %>
                    <li>
                      Comments: <%= task.comments %>
                    </li>
                  <% else %>
                    <li>
                      This task currently does not have any comments
                    </li>
                  <% end %>
                </ul>
      	      <% end %>
            </ul>
          <% else %>
          	<li>
              This team currently does not have any tasks
          	</li>
          <% end %>
          <% if @team.comments && !@team.comments.blank? %>
            <li>
              <%= @team.comments %>
            </li>
          <% else %>
            <li>
              This team currently does not have any comments
            </li>
          <% end %>
        </ul>
        <% if current_staff.admin %>
          <div class="model-actions">
            <div class="model-actions-delete">
              <%= button_to "Delete Team", team_path(@team), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-default btn-large model-btn" %>
            </div>
            <div class="model-actions-edit">
              <%= button_to "Edit Team", edit_team_path(@team), method: :get, class:"btn btn-default btn-large model-btn" %>
            </div>
              <div class="model-actions-index">
                <%= button_to "View All Teams", teams_path, method: :get, class:"btn btn-default btn-large model-btn" %>
              </div>
          </div>
        <% end %>
    </div>
  </div>
</div>




