<% @tasks.each do |task| %>
  <div class="row model-div-content">
    <div class="col-md-4 model-div-img">
      <% if task.client.picture.blank? %>
        <%= image_tag("buildings.png", size: "300x300") %>
      <% else %>
        <%= image_tag(task.client.picture.url, size: "300x300") %>
      <% end %>
    </div>
    <div class="col-md-8 model-div-text">
      <h3><%= task.name %></h3>
      <ul>
        <li>
          Category: <%= task.category %>
        </li>
        <li>
          Client: <%= link_to_if(staff_signed_in?, task.client.name, client_path(task.client)) %>
        </li>
        <li>
          Team: <%= link_to_if(staff_signed_in?, task.team.name, team_path(task.team)) %>
        </li>
        <li>
          Charge: RM<%= task.charge %>
        </li>
        <% if task.paid %>
          <li>
            Payment Received
          </li>
        <% else %>
          <li>
            Payment Pending
          </li>
        <% end %>
        <li>
          Deadline: <%= task.deadline %>
        </li>
        <% if task.comments && !task.comments.blank? %>
          <li>
            Comments: <%= task.comments %>
          </li>
        <% else %>
          <li>
            This task currently does not have any comments
          </li>
        <% end %>
      </ul>
      <div class="model-actions">
      <% if staff_signed_in? && current_staff.admin %>
          <div class="model-actions-delete">
            <%= button_to "Delete Task", task_path(task), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-default btn-large model-btn" %>
          </div>
          <div class="model-actions-edit">
            <%= button_to "Edit Task", edit_task_path(task), method: :get, class:"btn btn-default btn-large model-btn" %>
          </div>
      <% end %>
      <% if (staff_signed_in? && current_staff.admin) || client_signed_in? %>
          <div class="model-actions-index">
            <%= button_to "View Task", task_path(task), method: :get, class:"btn btn-default btn-large model-btn" %>
          </div>
      <% end %>
      </div>
    </div>
  </div>
<% end %>