<div class="model-div">
  <div class="model-div-title">
    <h1>Task Listing</h1>
    <% unless client_signed_in? %>
      <%= form_tag task_search_path, method: :get do %>
      <div class="form-group">
        <div class="search-box search-box-team">
          <%= text_field_tag :search_param, params[:search_param], 
                            placeholder: "Enter in the name of the task", autofocus: true, 
                            class: "form-control input-md" %>
        </div>
        <%= button_tag(type: :submit, class: "btn btn-md btn-default search-button") do %>
          Search for Tasks
        <% end %>
      </div>
      <% end %>
      <%= button_to "Create Task", new_task_path, method: :get, class:"btn btn-default btn-large model-actions-add" %>
    <% end %>
  </div>
  <%= render 'tasks/list' %>
</div>

