<div class="model-div">
  <div class="model-div-title">
    <h1><%= @task.name %></h1>
  </div>
  <div class="row model-div-content">
      <div class="col-md-4 model-div-img">
        <% if @task.client.picture.blank? %>
          <%= image_tag("buildings.png", size: "300x300") %>
        <% else %>
          <%= image_tag(@task.client.picture.url, size: "300x300") %>
        <% end %>
      </div>
      <div class="col-md-8 model-div-text">
        <h3><%= @task.name %></h3>
      <ul>
        <li>
          Category: <%= @task.category %>
        </li>
        <li>
          Client: <%= link_to @task.client.name, client_path(@task.client) %>
        </li>
        <li>
          Team: <%= link_to @task.team.name, team_path(@task.team) %>
        </li>
        <ul>
          <% if !@task.team.staffs.empty? %>
            <% @task.team.staffs.each do |staff| %>
              <li>
              	<%= link_to staff.name, staff_path(staff) %> (<%= pluralize(staff.subtasks.count, 'task') %>)
              </li>
              <ul>
                <% if staff.subtasks.empty? %>
                  <li>
                    This staff currently does not have any tasks
                  </li>
                <% else %>
                  <% staff.subtasks.each do |subtask| %>
                    <li>
                      <%= link_to subtask.name, subtask_path(subtask) %> (<%= link_to subtask.task.name, task_path(subtask.task) %>) 
                    </li>
                  <% end %>
                <% end %>
              </ul>
    	      <% end %>
          <% else %>
          	<li>
              This team currently does not have any staff
          	</li>
          <% end %>
        </ul>
        <li>
          Charge: RM<%= @task.charge %>
        </li>
        <% if @task.paid %>
          <li>
            Payment Received
          </li>
        <% else %>
          <li>
            Payment Pending
          </li>
        <% end %>
        <li>
          Deadline: <%= @task.deadline %>
        </li>
        <% if @task.comments && !@task.comments.blank? %>
          <li>
            Comments: <%= @task.comments %>
          </li>
        <% else %>
          <li>
            This task currently does not have any comments
          </li>
        <% end %>
      </ul>
      <% if current_staff.admin %>
        <div class="model-actions">
          <div class="model-actions-delete">
            <%= button_to "Delete Task", task_path(@task), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-default btn-large model-btn" %>
          </div>
          <div class="model-actions-edit">
            <%= button_to "Edit Task", edit_task_path(@task), method: :get, class:"btn btn-default btn-large model-btn" %>
          </div>
          <div class="model-actions-index">
            <%= button_to "View Task", task_path(@task), method: :get, class:"btn btn-default btn-large model-btn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

