<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav nav-justified">
        <li id="navbar-link"><%= link_to 'About Us', about_path %></li>
        <li id="navbar-link"><%= link_to 'Contact Us', contact_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li id="navbar-link"><%= link_to 'Why You Should Choose Us', why_you_should_choose_us_path %></li>
            <li id="navbar-link"><%= link_to 'Audit and Assurance', audit_and_assurance_path %></li>
            <li id="navbar-link"><%= link_to 'Bookkeeping', bookkeeping_path %></li>
            <li id="navbar-link"><%= link_to 'Consulting', consulting_path %></li>
            <li id="navbar-link"><%= link_to 'Taxation', taxation_path %></li>
            <li id="navbar-link"><%= link_to '24/7 Live Updates', updates_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Careers <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li id="navbar-link"><%= link_to 'How to Apply', apply_path %></li>
            <li id="navbar-link"><%= link_to 'Graduates', graduates_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <% if !staff_signed_in? && !client_signed_in? %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log In <span class="caret"></span></a>
            <ul class="dropdown-menu">
               <li id="navbar-link"><%= link_to 'Client Login', new_client_session_path %></li>
               <li id="navbar-link"><%= link_to 'Staff Login', new_staff_session_path %></li>
            </ul>
          <% elsif staff_signed_in? %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Staff <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% if current_staff.admin == true %>
                 <li class="dropdown-header">Admin Actions</li>
                 <li id="navbar-link"><%= link_to 'Manage Staff', staffs_path %></li>
                 <li id="navbar-link"><%= link_to 'Manage Teams', teams_path %></li>
                 <li id="navbar-link"><%= link_to 'Manage Clients', clients_path %></li>
                 <li id="navbar-link"><%= link_to 'Create Task for Team', new_task_path %></li>
                 <li id="navbar-link"><%= link_to 'Manage Team Tasks', tasks_path %></li>
                 <li id="navbar-link"><%= link_to 'Manage Staff Tasks', subtasks_path %></li>
                 <li role="separator" class="divider"></li>
              <% end %>
              <% if current_staff.team_leader == true %>
                 <li class="dropdown-header">Team Leader Actions</li>
                 <li id="navbar-link"><%= link_to 'Create Team Member Task', new_subtask_path %></li>
                 <li id="navbar-link"><%= link_to 'Manage Team Member Task', team_tasks_path %></li>
                 <li role="separator" class="divider"></li>
              <% end %> 
              <li class="dropdown-header">Staff Actions</li>
              <% if current_staff.team %>
                <li id="navbar-link"><%= link_to 'My Team', team_path(current_staff.team.id) %></li>
                <li id="navbar-link"><%= link_to 'My Tasks', my_tasks_path(current_staff) %></li>
              <% end %>
              <li id="navbar-link"><%= link_to 'Log Out', destroy_staff_session_path, method: :delete %></li>
             </ul>
          <% elsif client_signed_in? %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Client <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Client Actions</li>
               <li id="navbar-link"><%= link_to 'Progress Update', tasks_path %></li>
               <li id="navbar-link"><%= link_to 'Log Out', destroy_client_session_path, method: :delete %></li>
             </ul>
          <% end %>
        </li>
    </div>
  </div>
</nav>