<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav nav-justified">
        <li id="navbar-link"><%= link_to 'About Us', about_path %></li>
        <li id="navbar-link"><%= link_to 'Contact Us', contact_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li id="navbar-link"><%= link_to 'Why You Should Choose Us', promote_path %></li>
            <li id="navbar-link"><%= link_to 'Taxation', root_path %></li>
            <li id="navbar-link"><%= link_to 'Audit and Assurance', root_path %></li>
            <li id="navbar-link"><%= link_to 'Bookeeping', root_path %></li>
            <li id="navbar-link"><%= link_to 'Advisory', root_path %></li>
            <li id="navbar-link"><%= link_to '24/7 Live Updates', updates_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Careers <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li id="navbar-link"><%= link_to 'How to Apply', apply_path %></li>
            <li id="navbar-link"><%= link_to 'Graduates', graduates_path %></li>
            <li id="navbar-link"><%= link_to 'Openings', root_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <% if !staff_signed_in? && !client_signed_in? %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log In <span class="caret"></span></a>
            <ul class="dropdown-menu">
               <li id="navbar-link"><%= link_to 'Client Login', new_client_session_path %></li>
               <li id="navbar-link"><%= link_to 'Staff Login', new_staff_session_path %></li>
            </ul>
          <% elsif staff_signed_in? %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Staff <span class="caret"></span></a>
            <ul class="dropdown-menu">
               <li id="navbar-link"><%= link_to 'Manage Staff', root_path %></li>
               <li id="navbar-link"><%= link_to 'Manage Clients', root_path %></li>
               <li id="navbar-link"><%= link_to 'My Clients', root_path %></li>
               <li id="navbar-link"><%= link_to 'My Workload', root_path %></li>
               <li id="navbar-link"><%= link_to 'Log Out', destroy_staff_session_path %></li>
             </ul>
          <% elsif client_signed_in? %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Client <span class="caret"></span></a>
            <ul class="dropdown-menu">
               <li id="navbar-link"><%= link_to 'Progress Report', root_path %></li>
               <li id="navbar-link"><%= link_to 'Log Out', destroy_client_session_path %></li>
             </ul>
          <% end %>
        </li>
    </div>
  </div>
</nav>